nav {
    /*

    height: 2.5rem;
    top: 0; */
    display: flex;
    background-color: #F0F0F2;
    border-bottom: 0.1px solid #A9A4C7;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    height: 2.5rem;
    width: 100%; /* Full width */
}

.nav-right {
    display: flex;
    margin-left: auto;
}

.nav-right > button {
    margin-left: 1rem;
    margin-right: 1rem;
    border-radius: 5px;
    border: 1px solid #A9A4C7;
    color: purple;
    padding: 5px 15px 5px 15px;
    align-self: center;
    height: 30px;
}

.nav-right p , svg {
    align-self: center;
}