.page-layout {
/*  background-color: green; */

/*  height: calc(95.6vh);  */
}

.page-layout > .otherSection {
  margin-left: 160px;
  margin-top: 4em;
}

.addbookPage, .home, .singleBook {
  padding-left: 2em;
  padding-right: 2em; 
}

